# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*.local

# Cypress output folders
cypress/videos/
cypress/screenshots/
cypress/reports/
cypress/downloads/

# Cypress cache + artifacts
.cypress-cache/
cache/
*.log

# Dist, build, and coverage
dist/
build/
coverage/
.nyc_output/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore large fixture assets (avoid >50 MB files)
cypress/fixtures/**/*.mp4
cypress/fixtures/**/*.mov
cypress/fixtures/**/*.avi
cypress/fixtures/**/*.flv
cypress/fixtures/**/*.mkv
cypress/fixtures/**/*50mb*
cypress/fixtures/**/*.jpg
cypress/fixtures/**/*.jpeg
cypress/fixtures/**/*.png

# Ignore editor and OS files
.vscode/
.idea/
*.swp
*.swo

# Git files
.gitignore